body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app {
  display: flex;
  margin: 0;
  padding: 0;
}

$midnight: #7397bc;
$clouds: #ecf0f1;
$midnight-selected: #6a8cad;
$available: #c44900;
$booked: #83ae2a;
$disable: #00000085;
$timeslot: #4d5055;
